@page "/"

<PageTitle>Index</PageTitle>

<div class="container mt-5">
	<div class="jumbotron">

		<h1 class="display-4">Welcome to TournamentApp!</h1>

		<p class="lead">This is a simple application to manage tournaments.</p>
		<hr class="my-4">
		<p>You can add, view, and manage tournaments using the navigation bar on the side. Click on "Tournaments" to get started.</p>
		<a class="btn btn-primary btn-lg" href="/tournaments" role="button">View Tournaments</a>
	</div>
</div>
